{% extends "bootstrap/base.html" %}

<div class="container">
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">Raspberry Tart</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/music/">Music</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
</div>

