{% extends "main.html" %}
{% block content %}

<script type="text/javascript"  src="/static/music.js"></script>

<div class = "well span3">
<h3>Stations :</h3>
  {% for id in stations | sort %}
  <a class='station_link' href='#' rel='{{id}}'>{{stations[id]}}</a><br/>
  {% endfor %}
</div>
<div class = "span8">
  <div class = "row-fluid text-center">
    <div class = "well span3">
      <i class="icon-play playpause" title="Play" rel="popover"></i>&nbsp;
      <i class="icon-pause playpause" title="Pause" rel="popover"></i>&nbsp;
      <i class="icon-step-forward skip" title="Skip song" rel="popover"></i>
    </div>
    <div class = "well span3">
      <i class="icon-volume-down vol_down" title="Vol -" rel="popover"></i>&nbsp;
      <i class="icon-volume-up vol_up" title="Vol +" rel="popover"></i>
    </div>
    <div class = "well span3">
      <i class="icon-list refresh_stations" title="Refresh Station list" rel="popover"></i>&nbsp;
      <i class="icon-refresh restart_pianobar" title="Restart Pianobar" rel="popover"></i>
    </div>
  </div>

  <div class="row-fluid">
    <div class = "well span10" style = "min-height : 400px">
    Info
    </div>
  </div>
</div>
{% endblock %}